<template>
    <div class="hello" style="position:relative; bottom:60px"><br><br>
    <center>
        <img src="../assets/bengkel2.jpeg">
    <table style="position:relative; bottom:120px;">
        <br>
          <br>
          <br>
          <br>
          <br>
          <br>
      <tr>
        <td><router-link to="/spare"><img src="../assets/sparepart.png" style="position:relative; right:60px; bottom:10px; border-radius:50%; height:263px; "><h2 style="position:relative; left:0px;">Sparepart</h2></router-link></td>
        <td><router-link to="/motor"><img src="../assets/motor.png" style="position:relative; left:20px; bottom:10px; border-radius:50%; height:260px;"><h2 style="position:relative; left:105px;">motor</h2></router-link></td>
      </tr>
    </table>

    </center>
    </div>
</template>
