<template>
  <div class="hello" style="position:relative; bottom:60px">
    <p style="color:grey; font-size:20px;">____________________________________________________________________________</p>
    <p style="color:grey; font-size:20px; position:relative; bottom:20px;">____________________________________________________________________________</p>
    <center>
    <router-link to="/motor">
    <button type="button" class="btn btn-md btn-primary" style="position:relative; bottom:10px; right:390px;">back</button>
    </router-link>
    <h2>Data Motor</h2>
    <form @submit.prevent="submitForm">
    <table class="table table-hover table-striped" style="width:830px; border-bottom:1px solid lightgrey;" >
      <tr>
        <td><label>Jenis Motor </label></td>
        <td><input type="text" v-model="motor.jenis_motor"  class="form-control" required></td>
      </tr>
      <tr>
        <td><label>Harga </label></td>
        <td><input type="number"  v-model="motor.harga" class="form-control" required></td>
      </tr>
      <tr>
        <td><label>Stok </label></td>
        <td><input type="number" v-model="motor.stok" class="form-control" required></td>
      </tr>
      <tr>
        <td><label>Merk </label></td>
        <td><input type="text" v-model="motor.merk" class="form-control" required></td>
      </tr>
    </table>
    <button type="submit" class="btn btn-lg btn-info" style="position:relative; left:360px;">Save</button>
    </form>
    </center>
    <p style="color:grey; font-size:20px;">____________________________________________________________________________</p>
    <p style="color:grey; font-size:20px; position:relative; bottom:20px;">____________________________________________________________________________</p>
  </div>
</template>
<script>
import {api} from '@/helper/api'

export default {
  name: 'MotorForm',
  data () {
    return {
      motor: {
        id: null,
        jenis_motor: '',
        harga: '',
        stok: '',
        merk: ''
      }
    }
  },
  mounted () {
    let id = this.$route.params.id

    if (id) {
      let url = 'http://localhost/IrgaUAS/public/motor/'
      api.get(url + id).then(res => {
        this.motor = res.data.result
      })
    }
  },
  methods: {
    submitForm () {
      let data = this.motor
      let url = 'http://localhost/IrgaUAS/public/motor'

      if (this.motor.id) {
        url += '/' + this.motor.id
      }

      api.post(url, data).then(res => {
        if (res.data.status === 'success') {
          this.$router.push('/motor')
        } else {
          console.log(res.data.message)
        }
      }).catch(err => {
        console.log(err)
      })
    }
  }
}
</script>
