<template>
  <div class="hello" style="position:relative; bottom:60px">
    <p style="color:grey; font-size:20px;">____________________________________________________________________________</p>
    <p style="color:grey; font-size:20px; position:relative; bottom:20px;">____________________________________________________________________________</p>
    <center>
    <h1>Data Motor</h1>
    <router-link to="/">
    <button type="button" class="btn btn-sm " style="background:lightgrey; position:relative; bottom:10px; right:350px;">back</button>
    </router-link>
    <router-link to="/motor/create">
    <button type="button" class="btn btn-sm btn-primary " style="position:relative; bottom:10px; right:350px;">tambah</button>
    </router-link>
    <table class="table table-hover table-striped" style="width:830px;" >
      <tr>
        <th>No</th>
        <th>Jenis Motor</th>
        <th>Harga</th>
        <th>Stok</th>
        <th>Merk</th>
        <th>Action</th>
      </tr>
      <tr v-for="(motor, i) in data_motor" :key="i">
          <td>{{ i + 1 }}</td>
          <td>{{ motor.jenis_motor }}</td>
          <td>{{ motor.harga }}</td>
          <td>{{ motor.stok }}</td>
          <td>{{ motor.merk }}</td>
          <td>
            <router-link :to="'/motor/' + motor.id"><button type="button" class="btn btn-sm btn-primary">edit</button></router-link>
            <button @click="deleteRow(motor.id)" class="btn btn-sm btn-danger">delete</button>
          </td>
        </tr>
    </table>
    </center>
    <p style="color:grey; font-size:20px;">____________________________________________________________________________</p>

    <p style="color:grey; font-size:20px; position:relative; bottom:20px;">____________________________________________________________________________</p>
  </div>
</template>

<script>
import { api } from '@/helper/api'

export default {
  name: 'Motor',
  data () {
    return {
      data_motor: []
    }
  },
  mounted () {
    this.get()
  },
  methods: {
    get () {
      let url = 'http://localhost/IrgaUAS/public/'
      let url2 = 'motor'
      api.get(url + url2).then(res => {
        if (res.data.status === 'success') {
          this.data_motor = res.data.result
        } else {
          console.log(res.data.message)
        }
      }).catch(err => {
        console.log(err)
      })
    },
    deleteRow (id) {
      let url = 'http://localhost/IrgaUAS/public/motor/'
      api.delete(url + id).then(res => {
        if (res.data.status === 'success') {
          this.get()
        } else {
          console.log(res.data.message)
        }
      }).catch(err => {
        console.log(err)
      })
    }
  }
}
</script>
